.header {
  max-width: 60rem;
  display: flex;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  justify-content: center;
}

.list {
  width: inherit;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  text-decoration: none;
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}
