/* .container {
  width: 200px;
  height: 200px;
  background-color: white;
} */

.image {
  width: 200px;
  height: 100px;
}

.titles {
  color: black;
}

.container {
  width: inherit;
  height: 100px;
  background-color: white;
  justify-content: space-between;
}

.yup {
  color: black;
  display: flex;
  padding-left: 0;
}
